#footer {
  font-family: var(--font-family);

  &.dark {
    background-color: var(--dark);
    color: white;

    & .inner {
      border-top: 1px solid white;
    }

  }

  &.light {
    background-color: white;
    color: black;

    & .inner {
      border-top: 1px solid #dddddd;
    }

  }

  & .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: calc(var(--gutter) * 2) 0;
    width: var(--width);

    & .links {

      & .list {
        display: inline-block;
        list-style: none;
        margin: 0 100px 0 0;
        padding-left: 0px;
        text-transform: uppercase;
        vertical-align: top;

        & .title {
          font-size: 16px;
          margin: 0 0 calc(var(--gutter) / 2) 0;
        }

        & .item {
          font-size: 16px;
          margin: 0 0 calc(var(--gutter) / 2) 0;

          & .link {
            color: inherit;
            text-decoration: none;
          }

        }

      }

    }

    & .logos {

      & .ifpri {
        vertical-align: middle;
        width: 132px;
      }

      & .datawheel {
        margin-left: 23px;
        vertical-align: middle;
        width: 205px;
      }

    }

  }

}
