.nav {
  align-items: center;
  display: flex;
  font-family: var(--font-family);
  justify-content: space-between;
  height: var(--nav-height);
  left: 0;
  margin: 0 auto;
  max-width: var(--width);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--cover);

  & .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 800;
    margin-right: 25px;
    text-decoration: none;
    text-transform: uppercase;

    & .data {
      color: white;
    }

    & .africa {
      color: var(--accent);
    }

  }

  & .link {
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
    opacity: 0.8;
    padding: 5px 0;
    text-decoration: none;
    transition: opacity 0.2s;
    vertical-align: top;

    &.active {
      color: var(--accent);
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &.profile {
      border-bottom: 1px solid white;
    }

  }

  & .divider {
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    opacity: 0.8;
    padding: 5px 0;
    text-decoration: none;
    transition: opacity 0.2s;
    vertical-align: top;
  }

}
