.nav-container {
  font-family: var(--font-family);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--cover);

  &.dark {
    background-color: var(--dark);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.6);
  }

  &.subnav {
    background-color: var(--light);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.6);
    position: fixed;
    transition: top 1s;
    top: 0;

    &.hidden {
      box-shadow: none;
      top: calc(var(--nav-height) * -1);
    }
  }


  & .nav {
    align-items: center;
    display: flex;
    height: var(--nav-height);
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--width);
    width: 100%;
    z-index: 1;

    & .logo {
      display: inline-block;
      font-size: 20px;
      font-weight: 800;
      margin-right: 16px;
      padding:2px 0px 0px;
      text-decoration: none;
      text-transform: uppercase;

      & .data {
        color: white;
      }

      & .africa {
        color: var(--accent);
      }

    }

    & .link {
      color: white;
      display: inline-block;
      font-size: 16px;
      margin: 0 16px 0 16px;
      opacity: 0.8;
      padding: 5px 0;
      text-decoration: none;
      transition: color 0.2s, opacity 0.2s;
      vertical-align: top;

      &.active {
        color: var(--accent);

        & .icon {
          fill: var(--accent);
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &.profile {
        border-bottom: 1px solid white;
      }
      & .icon {
        display: inline-block;
        margin:0 4px -6px 0;
      }

      &.hidden {
        opacity: 0;
      }

    }

    & .divider {
      color: white;
      display: inline-block;
      font-size: 16px;
      margin: 0;
      opacity: 0.8;
      padding: 5px 0;
      text-decoration: none;
      transition: opacity 0.2s;
      vertical-align: top;
    }

    & .subnav-link {
      color: white;
      display: inline-block;
      font-size: 12px;
      margin: 0 15px;
      opacity: 0.8;
      padding: 8px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s, opacity 0.2s;
      vertical-align: top;

      &.active {
        color: var(--accent);
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

    }

  }

}
