.search-nav {
  opacity: 0;
  position: absolute;
  right: 133px;
  top: 13px;
  transition: opacity 0.5s, width 0.5s;
  width: 0;
  z-index: var(--cover);

  &.active {
    opacity: 1;
    width: 250px;
  }

  & .input {
    width: 100%;

    & .icon {
      display: inline-block;
      position: absolute;
      margin-top: 8px;
      width: 16px;
    }

    & input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid white;
      box-sizing: border-box;
      color: white;
      display: inline-block;
      font-family: "Work Sans";
      font-size: 16px;
      font-weight: 400;
      max-width: 600px;
      opacity: 0.6;
      padding: 8px 16px 8px 32px;
      transition: opacity 0.2s;
      width: 100%;

      &::placeholder {
        color: white;
      }

      &:focus {
        opacity: 1;
        outline: none;
      }

    }

  }

  & .results {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    & .result {
      background-color: white;
      opacity: 0.6;
      padding: 8px 16px 8px 32px;
      transition: opacity 0.2s;

      & a {
        color: black;
        display: block;
        font-size: 16px;
        text-decoration: none;

      }

      &:hover, &.highlighted {
        opacity: 1;
      }

    }

  }

}
