.home {
  font-family: var(--font-family);
  margin: 80px auto;
  max-width: var(--width);
  width: 100%;

  & .splash {
    height: 800px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: var(--background);

    & .image {
      background-image: url("/images/home/cgiar-1.jpg");
      background-position: 50%;
      background-size: cover;
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    & .gradient {
      background: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0.0) 25%, rgba(0, 0, 0, 0.5));
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }

  & .intro {
    display: flex;
    flex-direction: row;
    width: 100%;

    & .text {
      flex-size: 1;

      & .title {
        color: white;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
        margin: 64px 0px;
        padding: 0px 80px 0px 0px;
      }

      & .search-start {
        background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
        border: 2px solid var(--accent);
        border-radius: 100px;
        color: white;
        cursor: pointer;
        display: inline-block;
        margin-top: var(--gutter);
        padding: 8px 20px;
      }

    }

    & .viz {
      background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
      flex: none;
    }

  }

}
