.home {
  font-family: var(--font-family);
  margin: 0 auto;
  max-width: var(--width);
  padding: var(--nav-height) var(--gutter) 0;
  width: 100%;

  & .splash {
    height: 800px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: var(--background);

    & .image {
      background-image: url("/images/home/cgiar-1.jpg");
      background-position: 50% -100px;
      background-size: cover;
      background-repeat: no-repeat;
      bottom: 0px;
      height:750px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    & .gradient {
      background: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0.0) 25%, rgba(0, 0, 0, 0.5));
      bottom: 0px;
      height: 750px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }

  & .intro {
    display: flex;
    flex-direction: row;
    width: 100%;

    & .text {
      flex: 1;

      & .title {
        color: white;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
        margin: 64px 0px;
        padding: 0px 80px 0px 0px;
      }

      & .search-home {
        position: relative;
        width: 300px;
        z-index: var(--cover);

        & .input {
          width: 100%;

          & .icon {
            display: inline-block;
            position: absolute;
            margin: 9px 2px;
            width: 36px;
          }

          & input {
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid var(--accent);
            box-sizing: border-box;
            color: white;
            display: inline-block;
            font-family: "Work Sans";
            font-size: 32px;
            font-weight: 400;
            max-width: 600px;
            padding: 8px 0 8px 48px;
            width: 100%;

            &::placeholder {
              color: white;
            }

            &:focus {
              outline: none;
            }

          }

        }

        & .results {
          display: block;
          left: 0;
          list-style: none;
          margin: 0;
          opacity: 0;
          padding: 0;
          position: absolute;
          top: 54px;
          transition: opacity 0.2s;
          width: 100%;

          & .result {
            opacity: 0.6;
            padding: 8px 0 8px 48px;
            transition: opacity 0.2s;

            & a {
              color: white;
              display: block;
              font-size: 32px;
              text-decoration: none;

            }

            &:hover, &.highlighted {
              opacity: 1;
            }

          }

        }

        &.active {

          & .results {
            opacity: 1;
          }

        }

      }

    }

    & .viz {
      background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
      flex: none;
    }

  }

  & .tiles {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--gutter) * 1.75);
    margin-bottom:56px;
    margin-left: -2%;
    margin-right: -2%;
    width: auto;

    & .title {
      color: white;
      flex: none;
      font-size: 12px;
      font-weight: normal;
      margin-bottom:4px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    & .more-link {
      clear:both;
      display: block;
      margin-bottom:56px;
      margin-top:0px;
      text-align: center;
      width:100%;
    }
    & .tile {
      align-items: center;
      background-position: 50%;
      background-size: auto 200%;
      color: white;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      height: 120px;
      justify-content: center;
      margin: 2%;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-position 0.2s;
      width: 16%;

      & .name {
        display: flex;
        z-index: var(--foreground);
      }

      &:after {
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: background-color 0.2s;
        width: 100%;
      }

      &:hover {
        background-position: 50% 25%;

        &:after {
          background-color: rgba(0, 0, 0, 0.2);
        }

      }

    }

  }

}
