.map {
  background-color: #29769A;
  box-sizing: border-box;
  height: 100vh;
  padding-top: var(--nav-height);
  position: relative;

  &:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0) 40%, rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.3));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  & .floater {
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-family: var(--font-family);
    margin: var(--gutter);
    position: relative;
    z-index: var(--foreground);

    & .controls {
      box-sizing: border-box;
      display: inline-block;
      padding: 24px;
      width: 300px;
    }

    & .dropdown {
      appearance: none;
      background: white;
      background-image: url('/images/sections/dropdown-arrow.svg');
      background-repeat: no-repeat;
      background-position: right center;
      border: none;
      border-bottom: 2px solid var(--accent);
      border-radius: 0;
      font-family: "Work Sans";
      font-size:18px;
      margin: 8px 0px 12px 0px;
      padding: 0 32px 6px 0;
      width: 250px;

      &:focus {
        outline:0;
      }

      & #legend {
        background-color: #F2F2F2;
        display: inline-block;
        height: 544px;
        float: right;
        width: 120px;

      }

    }

    & .viz {
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }  
}
