.map {
  background-color: #cdd1d3;
  box-sizing: border-box;
  height: 100vh;
  padding-top: var(--nav-height);
  position: relative;

  & .floater {
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-family: var(--font-family);
    height: 544px;
    margin: var(--gutter);
    position: relative;
    z-index: var(--foreground);

    & .controls {
      box-sizing: border-box;
      display: inline-block;
      height: 544px;
      overflow: scroll;
      padding: 24px;
      width: 300px;

      & .radio-group {
        text-align: center;
      }

      & .data-year {
        color: #999999;
        display: block;
        font-size: 10px;
        font-weight: 600;
        /*margin: 6px 0 0;*/
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      & .data-table {
        font-size: 12px;
        margin-top: 16px;
        width: 100%;

        & .row {

          & .col {
            padding: 4px 0;

            &.rank {
              color: #999999;
              font-weight: 600;
            }

            &.name {
              color: #999999;
              font-weight: 600;
              padding: 4px;
            }

            &.value {
              color: #999999;
              font-family: "Roboto Mono";
              font-weight: 500;
              text-align: right;
              white-space: nowrap;
            }

          }

        }

      }
    }

    & #legend {
      background-color: #F2F2F2;
      display: inline-block;
      height: 544px;
      float: right;
      width: 120px;

    }

  }

  & .viz {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  & .loading {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    & .text {
      box-sizing: border-box;
      color: white;
      font-family: "Work Sans";
      font-size: 24px;
      padding: 400px 32px 32px 484px;
      text-align: center;
      width: 100%;
    }

  }

}
