.container.embed {
  background-color: transparent;
  height: 100vh;
  overflow: hidden;

  & > .section {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;

    & .columns, & .rows {
      box-sizing: border-box;
      height: 100%;
    }

    & .section-text {
      margin: 16px;

      & .section-title {
        margin: 0 0 16px;
      }

    }

    & .viz {
      margin: 16px;
    }

  }

  &.noText {
    & .section-text {
      display: none;
    }
  }

}
