.profile {
  font-family: var(--font-family);

  & .intro {
    color: white;
    margin: 0 auto;
    position: relative;
    width: 100vw;

    & .splash {
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-position: 50%;
        background-size: cover;
        filter: saturate(150%) contrast(130%);
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        background: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0.6));
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

    }

    & .header {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      width: 80%;

      & .viz {
        background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
        flex: none;
        box-sizing: border-box;
        display: inline-block;
        flex: 1;
        margin: 100px 24px 24px;
        vertical-align: top;
      }

      & .meta {
        box-sizing: border-box;
        display: inline-block;
        flex: 1;
        margin: 100px 24px 24px;
        vertical-align: top;

        & .title {
          font-size: 56px;
          font-weight:600;
        }

        & .stat {
          margin: 25px 0;

          & .label {
            font-size: 12px;
            font-weight: 400;
            margin-left: 2px;
            text-transform: uppercase;

            & .time {
              color: var(--accent);
            }
          }

          & .value {
            font-size: 32px;
            font-weight: 600;
          }

        }

      }

    }

    & .sublinks {
      margin: 0 auto;
      padding: 25px;
      text-align: center;

      & .sublink {
        color: white;
        display: inline-block;
        font-size: 12px;
        margin: 25px;
        opacity: 0.5;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.2s;
        width:120px;

        &:hover {
          opacity: 1;
        }

        & img {
          display: block;
          margin: 5px auto;
        }

      }

    }

    & #introduction {
      display: block;
      font-family: georgia;
      font-size: 21px;
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 160%;
      margin: calc(var(--nav-height) * -1 + var(--gutter)) auto 0;
      max-width: 928px;
      padding: calc(var(--nav-height) + var(--gutter)) var(--gutter) 100px;
      width: 100%;
    }

  }

}
