
.profile > .section-container {
  background-color: white;
  display: block;
  float: left;
  width:100%;

  & .profile-section {
  	& .section {
  		&:last-child {
  			border:none;
  		}
  	}
  }
  & .section {
	  border-bottom: 1px solid #ddd;
		background-color: white;
		margin: 0px 72px 64px;
		padding: 0 0 16px;

		& .columns {
			width: auto;

			& .section-title {
				margin: 0 0 16px 0;
				width: 300px;
			}
			& .viz {
				width: auto;

				&:first-child {
					margin-right: 16px;
				}
			}

		}

		& .rows {

			& .viz {
				&:first-child {
					margin-right: 0px;
				}
			}
		}
		& .margin-right {
			& .viz {
				&:first-child {
					margin-right: 16px;
				}
			}
		}

		& .section {
			border: none;
			margin: 0;
			padding: 0;
		}
	}

	& .section-title {
	  display: block;
	  font-size: 24px;
	  margin: 16px 16px 16px 0px;
	  padding-top: 0px;
	  width: 500px;

	}		
	& .dropdown {
	  appearance: none;
	  background: white;
	  background-image: url('/images/sections/dropdown-arrow.svg');
	  background-repeat: no-repeat;
	  background-position: right center;
	  border: none;
	  border-bottom: 2px solid var(--accent);
	  border-radius: 0;
	  clear: both;
	  display: block;
	  font-family: "Work Sans";
	  font-size:18px;
	  margin: 8px 0px 12px 0px;
	  padding: 0 32px 6px 0;
	  width: 250px;

	  &:focus {
	  	outline:0;
	  }
	}	

  & .section-text {
	  font-size: 18px;
	  font-weight: 300;
	  line-height: 1.4;
	  margin: 16px 32px 16px 0px;
	  width: 300px;

	  & p {
			margin: 0px 0px 16px;

			& strong {
		  	color:var(--accent);
		  	font-weight: 600;
			}
	  }
	}
	& .viz {
		margin:16px 0px;
	}
  	
  & .small-height {
  	width: 100%;
  	& .viz {
  		min-height: auto;
  		width: 100%;
  	}
  }

  
  & article {

		& span {
		  clear:both;
		  color: var(--accent);
		  display: block;
		  font-size:12px;
		  font-weight: 600;
		  margin-bottom:8px;
		  text-transform: uppercase;
		}
		& .dropdown {
		  appearance: none;
		  background: white;
		  background-image: url('/images/sections/dropdown-arrow.svg');
		  background-repeat: no-repeat;
		  background-position: right center;
		  border: none;
		  border-bottom: 2px solid var(--accent);
		  border-radius: 0;
		  font-family: "Work Sans";
		  font-size:18px;
		  margin: 0 0 16px 0;
		  padding: 0 32px 6px 0;

		  &:focus {
		  	outline:0;
		  }
		}
	}	
}
