
.profile > .section {
  background-color: white;
  padding-bottom: calc(var(--gutter) * 2);

  & h4 {
	display: block !important;
	font-size: 32px !important;
	margin: 16px !important;
	width: 100% !important;
  }

  & .columns {

  	& .section-text {
	  font-size: 16px;
	  font-weight: 300;
	  line-height: 1.4;
	  margin: 16px;
	  width: 300px;

	  & p {
	  	margin: 0px 0px 16px;
	  }

	  & strong {
	  	color:var(--accent);
	  	font-weight: 600;
	  }
	}
	& .section {
		border-bottom: none;
		padding: 0;
	}
  }
  & .rows {
	& .section-text {
	  font-size: 20px;
	  font-weight: 300;
	  line-height: 1.4;
	  margin: 0px 16px 10px;
	  width: 600px;

	  & p {
		margin:0px;
	  }

	  & strong {
 	    color:var(--accent);	
		font-weight: 600;
	  }
	}
	& .section {
		border-bottom: none;
		padding: 0;
	}
  }
  & .d3plus-Axis-title {
  	
  	& .d3plus-textBox {
  		margin-top: 20px;
  		text-transform: uppercase;
  	}
  }

  & .d3plus-viz-legend {
  	margin-left: 100px;
  }

  &:last-child:after {
    content: none;
  }


}
