.profile > .section {
  background-color: white;
  padding-bottom: calc(var(--gutter) * 2);

  &:after {
    background-color: #ddd;
    content: "";
    display: block;
    height: 1px;
    margin: 0 auto;
    max-width: var(--width);
    width: 100%;
  }

  &:last-child:after {
    content: none;
  }

}
