.topic-title {
  background-color:#f2f4f2;
  margin: 0px 0px -160px;
  padding: 0px 70px 0px;
  position: relative;
  text-align: center;
  width:auto;
  z-index: 0;

  &::after {
    background:linear-gradient(0deg, #f2f2f2, 10%, rgba(0, 0, 0, 0.0), 50%, rgba(0, 0, 0, 0.6) );
    content:"";
    display: block;
    float: left;
    bottom: -1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
    z-index: 1;
  }

  & .topic-icon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /*border-radius: 35px;*/
    /*border: 2px solid white;*/
    clear: both;
    display: block;
    height: 96px;
    margin: 0px auto 0px;
    padding: 0px;
    width: 96px;
  }
  & .topic-name {
    clear: both;
    color: white;
    display: block;
    float:left;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom:260px;
    padding-top:0px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  & img {
    display: block;
    bottom: 0;
    float:left;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 0;
  }

  /* TODO: remove this when it is part of canon */
  & .anchor {
    display: inline-block;
    margin-top: -20px;
    outline: 0;
    padding-top: 120px;
    position: relative;
  }

}
.agriculture {
  & .topic-title {
    background-image: url(/images/topics/agriculture-bg.jpg);
    background-size: cover;
    opacity: 0.8;
  }
}
.climate {
  & .topic-title {
    background-image: url(/images/topics/climate-bg.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }
}
.health {
  & .topic-title {
    background-image: url(/images/topics/health-bg.jpg);
    background-size: cover;
    opacity: 0.8;
  }
}
.poverty {
  & .topic-title {
    background-image: url(/images/topics/poverty-bg.jpg);
    background-size: cover;
    opacity: 0.7;
  }
}




