.d3plus-Form-Radio {
  border: 1px solid #979797;
  border-radius: 100px;
  display: inline-block;
  margin-top: 12px;

  & .d3plus-Label {
    transition: color 0.6s;

    &.active {
      color: #000 !important;
    }

  }

  & input {
    display: none;
  }

}

.d3plus-Form-Button {
  display: inline-block;

  & .d3plus-Button {
    appearance: none;
    background: none;
    border: 0;
    font-family: "Work Sans";
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.5;
    text-transform: uppercase;
    transition: opacity 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

  }

}

.d3plus-viz-controls-top > .d3plus-viz-controls-container {
  text-align: right !important;
}

.d3plus-tooltip {
  z-index: calc(var(--foreground) + 1);

  & .link-arrow {
    float: right;
    display: inline-block;
    margin-left: 12px;
    margin-top: 3px;
    width: 8px;
    vertical-align: bottom;
  }

  & .d3plus-body-sub {
    color: var(--accent);
    display: block;
    margin-bottom: 5px;
  }

  & .d3plus-body-key {
    display: inline-block;
    margin-bottom: 5px;
  }

  & .d3plus-body-value {
    display: inline-block;
    font-weight: 800;
  }

}
